.clients-section__title {
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    gap: 30px;

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 92px;

        color: var(--main-icon-clr);

        border: 1px solid var(--main-icon-clr);
        border-radius: 4px;

        transition: color var(--animation), border var(--animation);
    }

    &__link:hover,
    &__link:focus {
        color: var(--accent-clr);
        border: 1px solid var(--accent-clr);
    }

    &__icon {
        fill: currentColor;
    }
}

