.clients-list {
    justify-content: center;
    
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 210px;
        height: 92px;

        color: var(--main-icon-clr);

        border: 1px solid var(--main-icon-clr);
        border-radius: 4px;

        transition: color var(--animation), border var(--animation);

        @media screen and (min-width: 768px) {
            width: 226px;
        }

        @media screen and (min-width: 1200px) {
            width: 170px;
        }
    }

    &__link:hover,
    &__link:focus {
        color: var(--accent-clr);
        border: 1px solid var(--accent-clr);
    }

    &__icon {
        fill: currentColor;
    }
}

