.features-list {

    &__item {
        flex-basis: 450px;

        @media screen and (min-width: 768px) {
            flex-basis: 354px;
        }

        @media screen and (min-width: 1200px) {
            flex-basis: 270px;
        }
    }

    &__wrapper {
        display: flex;
        height: 120px;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

        background-color: var(--sec-bg-clr);
    }

    &__desc {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--secondary-txt-clr);
    }
}

