.nav {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        margin-right: auto; 
    }

    &__list {
        display: flex;
    }

    &__item {
        position: relative;
    }

    &__item:not(:last-child) {
        margin-right: 50px;
    }

    &__link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;

        transition: color var(--animation);
    }

    &__link:hover,
    &__link:focus {
        color: var(--accent-clr);
    }

    &__link--current-page {
        color: var(--accent-clr);
    }

    &__link--current-page::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 4px;

        background-color: var(--accent-clr);

        border-radius: 2px;
    }
}

