.team-section {
    margin-right: auto;
    margin-left: auto;

    background-color: var(--sec-bg-clr);
}

.team-list {

    justify-content: center;

    &__item {
        flex-basis: 450px;
        background-color: var(--main-bg-clr);

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;

        @media screen and (min-width: 768px) {
            flex-basis: 354px;
        }

        @media screen and (min-width: 1200px) {
            flex-basis: 270px;
        }
    }

    &__wrapper {
        padding-top: 30px;
        padding-bottom: 16px;
        padding-left: 5px;
        padding-right: 5px;

        text-align: center;
    }

    &__desc {
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--secondary-txt-clr);
    }
}
