.work-section {
    display: none;

    @media screen and (min-width: 1200px) {
        display: block;
        padding: 0 0 94px;
    }

    &__title {
        margin-bottom: 50px;
    }
}

.work-list__item {
    position: relative;

    flex-basis: 370px;
}

.work-list__overlay {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    padding: 5px;

    background-color: rgba(47, 48, 58, 0.8);
}

.work-list__overlay-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-txt-clr);
}