.logo {
    font-family: var(--socondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-clr);

    &--dark-color {
        color: var(--dark-txt-clr);
    }

    &--light-color {
        color: var(--light-txt-clr);
    }
}