.section {
    padding-top: 60px;
    padding-bottom: 60px;

    outline: 1px solid red;
    outline-offset: -1px solid red;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}