h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

    object-fit: cover;
    object-position: center;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    color: currentColor;
}